<h2>書籍清單</h2>
<div>
  <input type="text" placeholder="名稱">
  <button type="button">查詢</button>
</div>
<br>
<div>
  <button type="button">新增</button>
</div>
<br>
<table border="1">
  <tr>
    <th></th>
    <th>名稱</th>
    <th>作者</th>
    <th>出版社</th>
    <th>出版日期</th>
  </tr>
  <tr>
    <td>
      <button type="button">編輯</button>
      <button type="button">刪除</button>
    </td>
    <td>{{bookname}}</td>
    <td>{{author}}</td>
    <td>銘傳</td>
    <td>2022-12-22</td>
  </tr>
  <tr>
    <td>
      <button type="button">編輯</button>
      <button type="button">刪除</button>
    </td>
    <td>Book B</td>
    <td>李四</td>
    <td>銘傳</td>
    <td>2022-12-22</td>
  </tr>
  <tr>
    <td>
      <button type="button">編輯</button>
      <button type="button">刪除</button>
    </td>
    <td>Book C</td>
    <td>張三</td>
    <td>銘傳</td>
    <td>2022-12-22</td>
  </tr>
</table>


